@charset "UTF-8";
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.75rem !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.h-8 {
	height: 8% !important;
}
.w-8 {
	width: 8% !important;
}
