.d-inline-block {
    display: inline-block;
}

.d-inline-block .btn[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
}

.tooltip {
    font-size: 0.875rem;
}

.tooltip-inner {
    max-width: 300px;
    text-align: center;
    background-color: #333;
    color: #fff;
}