@charset "UTF-8";
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.seta-troca-imagem {
    width: 100% !important;
    height: 20% !important;
}

 .controls {
margin-top: 20px;
display: flex;
gap: 20px;
align-items: center;
}
.slider-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 }